*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    text-decoration: none;
}
body{
    font-family: 'Roboto', Helvetica, sans-serif; 
}



body,
html {
  overflow-x: auto;
}


header{
    width: 100%;
}
.imag{

}
.header_logo h1 {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    
    color: #314AA5;
}
.osnov {

}
.chel {

font-family: Roboto;
font-style: italic;
font-weight: 500;
font-size: 20px;
line-height: 32px;
/* or 160% */

text-align: center;

color: #434343;
}

.earth {
   
background: url(img/Untitled-1\ 1.png);
}

.rect{
    

background: #FFFFFF;
box-shadow: 0px 29px 30px rgba(64, 71, 78, 0.03);
}



.spisok-one {
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 28px;
    /* identical to box height, or 78% */
    
    text-align: center;
    
    color: rgba(227, 0, 0, 0.5);
    
    
}

.elips{
    
border-radius: 50%;
background: #F6F7FB;
}
.first-basis h2{
    
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #40474E;
}
.spisok-text p{
    
    font-family: Roboto;

    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #434343;
}


