body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
     -webkit-font-smoothing: antialiased;      /* сгладим наши шрифты */
    background-color: #FFF;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}



/* CONTAINER */

.container {
    width: 100%;            /* весь контент. для адаптивности */
      max-width: 1200px;             /* добавляем 30px к размеру из-за педдинга(для адаптивности). 30px съест педдинг.1170 останеться    */
     margin: 0 auto;                         /* выравниваем по центру */
      padding: 0 15px;     /*для адаптивности добавляем отступ(при уменьшении экрана ) */
}

/* HEADER==================== */

.header {
width: 100%; 
height: 100px;       /* ширина шапки выравнивает так как нужно */
position: absolute;        /* делаем шапку поверх всех остальных слоев. Второй слой над всеми слаями */
top: 0;
left: 0;
z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;   /* разделяем лого и навигацию на лево и право*/
    border-bottom: 1px solid #515369;
    padding: 35px;
    align-items: center;         /* выравниваем елементы по центру*/
}

/* NAV==================== */

.nav {
    display: flex;                  /* ссылки слитно  */         
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;     /* ссылки разделяються  */
    color: #FFF;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .1 linear;      /*  плавное перетекание с 0.75 в 1 опасити   */
}

.nav__link:first-child {                 /* убираем отступ у первоц ссылки  */
    margin-left: 0;
}

.nav__link:hover {       
    opacity: 1;                           /* при наведении нижнее подчеркивание*/
   
}


/* INTRO==================== */

.intro {
    display: flex;
    flex-direction: column; /* каждый елемент начинается с новой строки */
    justify-content: center;   /* Выравниваем контент по вертикали и по центру */
    height: 750px;
    padding-top: 100px;
    background: #31344e url(img/intro-bg.jpg) center no-repeat;     /* указ цвет фона если фотка не загруж */
    background-size: cover;      /* маштабируем картинку на весь блок*/
}



.intro__inner {
    width: 100%;
    max-width: 970px;   /*Ограгичиваем ширину контента*/
    margin: 0 auto;
    text-align: center;     /* выравниваем текст по центру */
} 

.intro_title {
    margin: 0 0 30px;  /*отделяем текст марджин ботом 30пикселей */
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;      /* межстрочная ширина в относительных еденицах относительно фонт сайз */
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
          
}

.intro__subtitle {
    margin-bottom: 60px;
    font-size: 22px;
    color: #FFF;
    line-height: 1.5;
    font-weight: 400;
    
}

            /* BUTTON==================== */ 
            
.btn {
     display: inline-block;      /* что бы задавать пединги для нашей кнопки, резмеры и тд */
     vertical-align: top;  /* вертикальное выравнивание по верху*/
     padding: 14px 40px;
     
     border-radius: 2px;
     border: 0;
     cursor: pointer;
     font-family: 'Raleway', sans-serif;   
     font-size: 13px;
     font-weight: 600;
     color: #FFF;
     text-transform: uppercase;
     text-decoration: none;
     text-align: center;      /* текст в кнопке по центру */

     transition: background .1s linear;
} 


.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #dd3434;
}

.btn--long {
     min-width: 280px;      /* делаем длинную кнопку с минимальной шириной по умолчанию 280 */
}


/* FEATURES==================== */ 

.features {
    display: flex;
    flex-wrap: wrap;     /* что бы елементы с одной строки переместились в 2 строки */
    margin: 95px 0;      /* отступ сверху и снизу 100, слева-права 0 */
}

.features__item {
    margin: 25px 0;
     width: 33.33333%;      /*задаём ширину что бы 3 елемента помещялись в одну строку */
    padding: 0 40px;
     text-align: center;     /*все по центру */
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    margin-bottom: 20px;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


/* WORKS============== */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;    /*  разделители между работами */
    border-right: 1px solid #fff;

    position: relative;
     overflow: hidden;    /*фотография сильно большая. оверфлов что бы она не вылазила за пределы блока */
}

 .works__item:hover .works__content {          /* при наводе на works__item показываеться  works__content */
    opacity: 1;
}
 
  .works__photo {                            /* картинку позиционируем абсолютно относительно works__items */
    position: absolute;                      /*  что бы она не была физическим обьектом, а только поверх слоем */
    top: 50%;              
    left: 50%; 
    z-index: 1;  
    
     transform: translate3d(-50%, -50%, 0);            /* выравниваем картинку по центру*/
} 


.works__content {       
    display: flex;
    flex-direction: column;   /* что бы каждый елемент был на новой строке и занимал 100% ширины */
     justify-content: center;    /* выравниваем текст по вертикали */

    width: 100%;      /* на всю ширину и высоту блока */
    height: 100%;
   
    background-color: rgba(232, 69, 69, 0.9);          /*  задаем цвет в ргба что бы сделать непрозрачность */

     text-align: center;     /*выравниваем текст по горизонтали */

    position: absolute;   /* делаем works__content поверх картинки */
    top: 0;
    left: 0;
    z-index: 2;    /*делаем больше чем в картинке, что бы он был поверх картинки */

    opacity: 0;

     transition: opacity .2s linear;        /* плавный переход opacity  при наводе мышкой */
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
}

.works__text {
    font-size: 14px;
    color: #FFF;
}


/* Team============ */

.team {
     margin: 100px 0 70px;      /* делаем отступ сверху и снизу по макету. снизу уменьшаем до 70 из-за маржина в тим итем(в сумме 100) */
}

.team__inner {
    display: flex;
     flex-wrap: wrap;    /*  если людей будет больше чем 4 то перенести на другую строку    */

      margin: 0 -15px;      
    }                             /* так как первая ячейка начинаеться на 15px 
                           правее container то выравниваем team__item по контейнеру (равный padding) */

.team__item {
    width: 25%;
     padding: 0 15px;   /* в сумме 30 px между фотками. с каждой по 15 */
      margin-bottom: 30px;  /* на случай двух строк участников отступ снизу */
}


.team__photo {
    margin-bottom: 20px;

    display: block;
     max-width: 100%;  /* для адаптивности на разных экранах. при измене размера экрана фотка того же размера */
     height: auto;       /* высота будет изменяться пропорционально ширине*/
}

.team__name {
    margin-bottom: 8px;

   font-size: 22px; 
   color: #2d3033;
}


.team__prof { 
    margin-bottom: 15px;

    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}

.team__text {
    margin-bottom: 20px;

    font-size: 13px;
    line-height: 1.5;
    color: #6c7279;

}


/* Social============ */
.social {
    display: flex;
}

.social--footer {
     justify-content: center;      /* для блока футтер выравниваем иконки по центру */
}

.social__item {
    display: flex;
    justify-content: center;     /* выравниваем по центру по вертикали */
    align-items: center;        /* по центру по горизонтали*/
    width: 40px; 
    height: 40px;
    margin-right: 4px;
    
    background-color: #fff;
    border: 1px solid #e8ecee;     /* квадратик вокруг иконки */

     transition: background .1s linear ;      /*плавный переход бекграунда */
}

.social__item:hover {
background-color:#e8ecee;
}

.social--footer .social__item {          /* если .social__item в .social--footer то убираем background  */
   background-color: transparent;   /*прозрачный бекграунд. При наводе делаем его белым */
   background: none; 
   border-width: 2px;     /* граница толще */
   border-color: #FFF;
   border-radius: 2px;
}

.social--footer .social__item:hover {      /* при наводе белый  */
    background-color: #fff;     
}


 .social__item:hover .social__icon {      /* работаем с иконкой при наводе на социал айтем */
 fill: #000;
 }        

.social__icon {
    fill: #c6cacc;                         /*для работы с свг. Смена фона заливки */
    display: block;
    height: 18px;

    transition:fill .1s linear ;
    }
.social--footer .social__icon {      
    fill:#FFF  
}
/* Reviews============ */


 .reviews {              /*есть фоновый цвет */
 overflow: hidden;     /*если картинки сильно большие что ббы не вылезали за границу блока */
background-color: #53354a;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;       /* что бы на мобильном устройстве првильно переносилось  */
}
.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;    /*что бы спозиционировать относительно этого блока */
}
.reviews__img {
     position: absolute;       /*позиционируем относительно релатива в фото! */
    top: 50%;
    right: 0;     /*прижимаем картинку к правому краю */
    z-index: 1;   
     transform: translateY(-50%);  /* если фотка будет больше чем 500 пикселей то она будет ровно отцентрована */
}


.reviews__content {
    display: flex;
    flex-direction: column;    /*что бы каждый пункт был с новой строки */
     justify-content: center;    /*текст отзыва по центру */
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    font-family: 'Cardo', "sans-serif" ;
    font-size: 36px;
    font-style: italic;     /*наклонённые буквы */
    line-height: 1.2;
    color: #FFF;

    margin-bottom: 25px;
}

.reviews__autor {
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Download============ */

.download {
    margin: 90px 0;

    text-align: center;    /*выравниваем  блок по центру */
}

.download__title {
    margin-bottom: 10px;

    font-size: 28px;
    font-weight: 300;     /*добавляем релевей лайт шрифт в настройках */ 
    color: #2d3033;
}

.download__text {
    margin-bottom: 30px;

    font-size: 13px;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
}

/* Footer============ */

.footer {
    
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
     flex-wrap: wrap;   /* для адаптации */
      padding: 70px 0px;           /*делаем отступ для самого .footer__inner а не для .footer .  Что бы .footer__copyright работал */
}

.footer__block {
     width: 33.33333%;    /* будет 3 блока по 33% каждый */
     padding: 0 15px;     /* при уменьшении экрана отступы что бы блоки не прилипали друг к другу */

     text-align: center;   /*в блоках текси по центру */
}

.footer__title {
    margin-bottom: 10px;

    text-transform: uppercase;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
}

.footer__address {
    line-height: 1.5;
    font-size: 14px;
    font-style: normal;    /*  убераем италик по умолчанию для адресса */
    color: rgba(255, 255, 255, .5);   /* полупрозрачный белый цвет       */
}

.footer__text {
    line-height: 1.5;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);   /* полупрозрачный белый цвет       */
}



/* Copyright============ */
.copyright {
    padding: 20px 0;

    background-color: #313454;
}

.copyright__text {
    text-align: center;
    line-height: 1.5;

    font-size: 14px;
    color: #808080;
}

.copyright__text span {
    color: #FFF;
}